* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("../images/kampos.jpg");
    background-size: cover;

}

form {

    width: 400px;
    margin: auto;

}