* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("../images/kampos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {

    padding-top: 3%;

}

form {

    width: 300px;
    margin: auto;
    color: gray;

}

